@charset "utf-8";
                                            /* Começo do estilo do modal */
#modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#bg {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 20, 59, .9);
    position: fixed;
    z-index: 9;
    display: block;
    /* display: none; */
}

.box {
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* top: -410px; */
    z-index: 10;
    top: 500px;
}

.box div.planos {
    width: 100%;
    max-width: 320px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box div.planos div.flex, .box div.planos div.flex-planos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.close_plan {
    color: #fff;
    font-family: 'proximanova-extr-bold', sans-serif;
    text-decoration: none;
    font-size: 35px;
    position: relative;
    background-color: #3fc5f4;
    width: 40px;
    height: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: flex-end;
    top: 20px;
    left: 5px;
    border-radius: 100px;
    z-index: 2;
    transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    -o-transition: .5s;
}

.close_plan strong {
    position: relative;
    bottom: 2px;
}

.close_plan:hover {
    background-color: #3092b6;
    color: #e4e4e4;
}

form#form, form#formEmp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
}

div.left {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 300px;
}

div.left h3 {
    display:flex;
    flex-direction: column;
    position: relative;
    text-align: left;
    width: 90%;
    background-color: #001847;
    font-family: 'proximanova-extr-bold', sans-serif;
    color: #fff;
    font-size: 24px;
    padding: 30px 10px 20px 15px;
    /* left: 6px; */
    margin: unset;
    margin-bottom: 40px;
    border-radius: 0 0 30px 30px;
}

div.left h3 strong {
    font-size: 19px;
}


.radios {
    list-style: none;
    margin: 0;
    padding: 0;
}

.radios:after {
    content: "";
    clear: both;
}

.plan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    width: 250px;
}

.plan input[type=radio], .plan input[type=checkbox]{   
     display:none; /* Esconde os inputs */
    }

.plan label {
    display: flex;
    flex-direction: row;
    width: 250px;
    cursor: pointer;
}

.plan div.preco {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 85%;
    background-color: #99a3b5;
}

.plan div.preco span {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 13px;
    font-family: 'decalotype-light-webfont', sans-serif;
    margin: 5px 0;
}

.plan div.preco span strong {
    font-size: 45px;
    font-family: 'proximanova-extr-bold', sans-serif;
    margin-left: 5px;
}

.plan div.preco span p {
    font-size: 13px;
}

.plan div.velocidade {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #b2e8fb;
}

.plan div.velocidade span {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: 'proximanova-extr-bold', sans-serif;
    color: #99a3b5;
    font-size: 45px;
    margin: 10px 0;
}

.plan div.velocidade span strong {
    font-family: 'proximanova-extr-bold', sans-serif;
}

.plan:hover div.preco, .opt div.preco, .active div.preco {
    background-color: #001848;
}

.plan:hover div.velocidade, .plan:hover div.velocidade span, .plan .opt div.velocidade, .plan .opt div.velocidade span, .plan .active div.velocidade, .plan .active div.velocidade span {
    background-color: #3ec5f4;
    color: #001948;
}

div.left img {
    margin: 10px 0;
    width: 120px;
}

div.right {
    display: flex;
    flex-direction: column;
    background-color: #eaf2f6;
    justify-content: center;
    align-items: center;
    width: 300px;
}

div.right div.valor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.right div.valor p.right {
    font-family: 'decalotype-light-webfont', sans-serif;
    color: #001847;
    font-size: 21px;
    margin-top: 20px;
}

div.right div.valor p.right strong {
    font-family: 'proximanova-bold', sans-serif;
}

div.right div.valor input#valor_totRadio, div.right div.valor input#valor_totRadioEmp {
    background-color: #001847;
    color: #fff;
    text-align: center;
    border: unset;
    width: 270px;
    font-size: 40px;
}

div.right div.valor span {
    font-family: 'decalotype-light-webfont', sans-serif;
    color: #001847;
    font-size: 18px;
    margin-bottom: 40px;
}


div.right input.m {
    font-family: 'decalotype-light-webfont', sans-serif;
    text-align: left;
    margin: 5px 0;
    padding: 12px 0 12px 10px;
    width: 260px;
    border: unset;
    -webkit-box-shadow: 0px 0px 10px 2px rgba(199,207,211,1);
    -moz-box-shadow: 0px 0px 10px 2px rgba(199,207,211,1);
    box-shadow: 0px 0px 10px 2px rgba(199,207,211,1);
}

div.right input.m::-webkit-input-placeholder {
    text-align: left;
    position: relative;
    left: 5px;
}

div.right input#botao {
    background-color: #1b8539;
    border: unset;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    padding: 10px 15px;
    margin: 20px 0 20px; 
    cursor: pointer;
    transition: .4s;
    -moz-transition: .4s;
    -o-transition: .4s;
    -webkit-transition: .4s;
}

div.right input#botao:hover {
    padding: 10px 20px;
}

                                            /* Fim do estilo do modal */

section#planos {
    background-color: #f6f4f4;
}

section#planos div.titulos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section#planos div.titulos h1 {
    color: #2a65ad;
    font-family: 'proximanova-black', sans-serif;
    font-size: 50px;
    margin-top: 40px;
    margin-bottom: 20px;
}

section#planos div.titulos ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 300px;
    border-radius: 20px;
    border: 1px solid #6e95c5;
}

section#planos div.titulos ul li {
    cursor: pointer;
    color: #585858;
    font-family: 'proximanova-regular', sans-serif;
    padding: 10px 23px;
    margin: -1px -8px;
    border-radius: 20px;
    font-size: 18px;
    transition: .4s;
    -o-transition: .4s;
    -moz-transition: .4s;
    -webkit-transition: .4s;
}

section#planos div.titulos ul li.ativo, section#planos div.titulos ul li:hover {
    color: #fff;
    background-color: #2a65ad;
}

section#planos div.titulos h2 {
    color: #585858;
    font-family: 'proximanova-regular', sans-serif;
    font-size: 18px;
}

section#planos div.plano {
    width: 270px;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px 0;
    -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.45);
    -moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.45);
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.45);
}

section#planos div.colored {
    background-color: #2a65ac;
}

section#planos img.top-colored {
    width: 80px;
    position: relative;
    margin-top: -75px;
    top: 60px;
    left: 114px;
}

section#planos div.plano div.velocidade h1 {
    font-size: 28px;
    color: #2a65ac;
    font-family: 'proximanova-light', sans-serif;
    margin-top: 60px;
}

section#planos div.colored div.velocidade h1 {
    color: #fff;
}

section#planos div.plano div.velocidade h1 strong {
    font-size: 80px;
    font-family: 'proximanova-black', sans-serif;
    line-height: 20px;
}

section#planos div.plano div.preco span {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #585858;
    font-size: 18px;
    font-family: 'proximanova-light', sans-serif;
    margin: 10px 0;
}

section#planos div.colored div.preco span {
    color: #1cb6f0;
}

section#planos div.plano div.preco span strong {
    font-size: 60px;
    font-family: 'proximanova-extr-bold', sans-serif;
}

section#planos div.plano div.preco span p {
    text-align: center;
}

section#planos div.plano div.recursos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 10px;
}

section#planos div.plano div.recursos p {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 250px;
    color: #585858;
    font-family: 'proximanova-light', sans-serif;
    font-size: 16px;
    border-bottom: 1px solid #1cb6f0;
    padding-bottom: 6px;
    margin: 5px 0;
}

section#planos div.colored div.recursos p {
    color: #fff;
}

section#planos div.plano div.recursos p:last-child {
    align-items: flex-start;
    text-align: left;
    border-bottom: unset;
}

section#planos div.plano div.recursos p img {
    margin-right: 8px;
    margin-left: 5px;
}

section#planos div.plano div.botao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
}

section#planos div.plano div.botao a {
    color: #fff;
    background-color: #2a65ac;
    font-family: 'proximanova-bold', sans-serif;
    padding: 15px 20px;
    font-size: 16px;
    border-radius: 25px;
    transition: .4s;
    -moz-transition: .4s;
    -o-transition: .4s;
    -webkit-transition: .4s;
}

section#planos div.colored div.botao a {
    background-color: #1cb6f0;
}

section#planos div.plano div.botao a:hover {
    padding: 15px 25px;
}

section#planos div.aviso {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    width: 100%;
}

section#planos div.aviso p {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #585858;
    font-family: 'proximanova-regular', sans-serif;
    position: relative;
    right: 5%;
    bottom: 30px;
}

section#planos div.aviso p img {
    margin-right: 5px;
}

section#wifi-turbo {
    background-color: #2a65ad;
}

section#wifi-turbo img {
    width: 300px;
    margin-top: 40px;
}

section#wifi-turbo div.titulo-wifi h1 {
    font-family: 'proximanova-black', sans-serif;
    color: #00ffff;
    width: 300px;
    font-size: 50px;
    text-align: left;
    margin-top: 50px;
    margin-bottom: 30px;
}

section#wifi-turbo div.texto-wifi p {
    text-align: left;
    font-family: 'proximanova-regular', sans-serif;
    color: #fff;
    width: 300px;
    margin: 15px 0;
}

section#wifi-turbo div.botao-wifi {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 300px;
}

section#wifi-turbo div.botao-wifi a {
    background-color: #00ffff;
    padding: 8px 15px;
    font-family: 'proximanova-bold', sans-serif;
    color: #2a65ad;
    border-radius: 20px;
    margin: 10px 0 50px;
    font-size: 18px;
    transition: .4s;
    -o-transition: .4s;
    -moz-transition: .4s;
    -webkit-transition: .4s;
}

section#wifi-turbo div.botao-wifi a:hover {
    padding: 8px 20px;
}

@media screen and (min-width:1200px){ 
                                            /* Começo do modal responsivo */
    .box {
        top: 310px;
    }

    .close_plan {
        font-size: 60px;
        width: 70px;
        height: 70px;
        top: 35px;
        left: 250px;
    }
    
    .close_plan strong {
        bottom: 5px;
    }


    form#form, form#formEmp {
        display: flex;
        flex-direction: row;
        width: 790px;
    }

    div.right, div.left {
        width: 365px;
        /* height: 510px; */
    }

    div.right div.valor {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    div.right div.valor p.right {
        font-family: 'decalotype-light-webfont', sans-serif;
        color: #001847;
        font-size: 25px;
        margin-top: 44px;
    }
    
    div.right div.valor p.right strong {
        font-family: 'proximanova-bold', sans-serif;
    }
    
    div.right div.valor input#valor_totRadio, div.right div.valor input#valor_totRadioEmp {
        margin-top: 10px;
        width: 310px;
        padding: 20px 0;
        font-size: 55px;
    }
    
    div.right div.valor span {
        font-size: 20px;
        /* margin-bottom: 40px; */
        margin-top: 8px;
    }
    
    div.right input.m {
        font-family: 'decalotype-light-webfont', sans-serif;
        text-align: left;
        margin: 5px 0;
        padding: 17px 35px 17px 10px;
        width: 260px;
        font-size: 18px;
    }

    div.right input#botao {
        font-size: 17px;
        padding: 12px 15px;
        margin-top: 20px;
        margin-bottom: 47px;
    }
    
    div.right input#botao:hover {
        padding: 12px 20px;
    }

    div.left {
        display: flex;
        flex-direction: column;
        background-color: #fff;
        width: 380px;
        justify-content: center;
    }
    
    div.left h3 {
        width: 90%;
        font-size: 30px;
        padding: 35px 0 30px 20px;
        left: 9px;
        margin-bottom: 7px;
    }
    
    div.left h3 strong {
        font-size: 24px;
    }

    .plan label {
        width: 335px;
    }
    
    .plan div.preco {
        width: 65%;
    }
    
    .plan div.preco span strong {
        font-size: 55px;
        margin-left: 5px;
    }
    
    .plan div.preco span p {
        font-size: 13px;
    }

    .plan div.velocidade span {
        font-size: 60px;
        margin: 10px 0;
    }

    div.left img {
        width: 120px;
        margin: 10px 0;
    }

                                            /* Final do modal responsivo */

    section#planos {
        padding: 50px 0 40px;
    }

    section#planos div#residencial, section#planos div#empresarial {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    section#planos div.titulos h1 {
        font-size: 50px;
        margin-top: 50px;
    }

    section#planos div.titulos h2 {
        font-size: 26px;
    }

    section#planos div.lista-planos {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    section#planos div.plano {
        width: 270px;
        border-radius: 30px;
        margin: 50px 20px;
    }

    section#planos img.top-colored {
        width: 114px;
        position: relative;
        margin-top: -115px;
        top: 92px;
        left: 106px;
    }

    section#planos div.plano div.velocidade h1 {
        font-size: 30px;
        padding-top: 20px;
    }

    section#planos div.plano div.velocidade h1 strong {
        font-size: 100px;
    }

    section#planos div.plano div.preco span {
        font-size: 20px;
        margin: 20px 0;
    }

    section#planos div.plano div.preco span strong {
        font-size: 50px;
        margin: 0 0 0 8px;
        font-family: 'proximanova-extr-bold', sans-serif;
    }

    section#planos div.plano div.recursos p {
        width: 240px;
        font-size: 16px;
        border-bottom: 1px solid #1cb6f0;
        padding-bottom: 6px;
        margin: 5px 0 0;
    }

    section#planos div.colored div.recursos p {
        width: 240px;
    }

    section#planos div.plano div.botao {
        margin-top: 10px;
    }

    section#planos div.plano div.menos {
        margin-top: 0;
    }

    section#planos div.plano div.botao a {
        padding: 12px 30px;
        font-size: 18px;
    }

    section#planos div.plano div.botao a:hover {
        padding: 12px 35px;
    }

    section#planos div.aviso p {
        left: 0;
        bottom: 20px;
    }

    
    section#wifi-turbo {
        height: 581px;
    }

    section#wifi-turbo div.flex {
        flex-direction: row-reverse;
    }

    section#wifi-turbo img {
        width: 513px;
        margin-top: 0;
        margin-left: 200px;
    }

    section#wifi-turbo div.titulo-wifi h1 {
        width: 500px;
        font-size: 80px;
        margin-top: 80px;
    }

    section#wifi-turbo div.texto-wifi p {
        color: #fff;
        width: 460px;
        font-size: 21px;
        margin: 25px 0;
    }

    section#wifi-turbo div.botao-wifi {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        width: 350px;
    }

    section#wifi-turbo div.botao-wifi a {
        padding: 12px 20px;
        margin: 10px 0 50px;
        font-size: 20px;
    }

    section#wifi-turbo div.botao-wifi a:hover {
        padding: 12px 25px;
    }

}